@font-face { 
    font-family: 'Champagne';
     src: url('fonts/Champagne.ttf');
     font-style: normal;
 }

body{
    background-color: rgb(200, 204, 160);
}
h2{
    font-family: 'Marck Script', cursive;
}
#name{
    font-family: Champagne;
}
#detail{
    font-family: Champagne;
}
.pic{
    height: auto;
    width: 20px;
    
}